$text-background-color: #252527;
$text-color: #d3d3e6;
$text-color-hover: rgb(125, 194, 13);
$black-color: black;
$white-color: white;
$footer-color: rgb(204, 204, 204);
$buttom-background-hover: rgb(173, 173, 173);
$standard-buttom-hover: rgb(5, 150, 49);


