@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
section {
	scroll-margin-top: 81px;
	

}
body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	background-color: #fff;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	opacity: 1;
	&:focus {
		outline: none;
		border: 1px solid rbga(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 5px;
		border-radius: 3px;
		content: '';
		background-color: $black-color;
		transition: width 0.3s;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 10px;
			width: 60%;
		}
		&::before {
			top: 20px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.nav2_logo {
	margin-top: 1.5em;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
	z-index: 10;
	&__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}
	&__logo {
		a {
			display: flex;
			flex-direction: row;
			margin: 1rem;
			color: $black-color;
			font-size: 1.6em;
			text-decoration: none;
			i {
				margin-right: 0.5rem;
			}
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		transform: translateX(100%);
		height: calc(100vh - 80px);
		transition: transform 0.5s, opacity 0.5s;
		background-color: $text-background-color;
	}
	&__item {
		display: inline-block;
		font-size: 2rem;
		margin-top: 1.5em;
		list-style: none;

		a {
			text-decoration: none;
			color: $text-color;
			transition: color 0.3s;
		}
		a:hover {
			color: $text-color-hover;
		}
	}
}

.active {
	transform: translateX(0);
	opacity: 1;
}
.position{
	background-color: aqua;
}
.section{
	height: 100vh;
}

///////////////////////////////////////
// Header
///////////////////////////////////////

.home {
	position: relative;
	margin-top: 80px;
	max-height: 600px;
	width: 100%;
}
.hero__image {
	background-image: url(../img/jungle-1807476_640.jpg);
	height: 400px;
	width: 100%;
	background-position: center;
	background-size: cover;
	&-shadow {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.75);
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		top: 50%;
		height: 100%;
		margin: 0 auto;
		padding: 0 1em;
		width: 100%;
		max-width: 1400px;

		color: $white-color;
	}
}
///////////////////////////////////////
// about-us
///////////////////////////////////////
.about-us {
	position: relative;
	

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		text-transform: uppercase;
		font-weight: 200;
		font-size: 1.6em;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__image {
		background-image: url(../img/waters-3095682_640_small.jpg);
		height: 40vh;
		width: 50%;
		background-position: center;
		background-size: cover;
	}

	&__text {
		height: 40vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 1.6em;
		width: 50%;

		&--box {
			display: flex;
			flex-direction: column;
			height: 100%;
			h3 {
				margin-bottom: 1em;
				font-weight: 800;
			}
			p {
				line-height: 1.5;
			}
		}
	}
}

.about-us-image2 {
	margin-top: 2em;
	margin-bottom: 2em;
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url(../img/girl-5785590_640_small.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 20%;
	border: 2px solid $white-color;
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		p {
			font-size: 1.6em;
			font-weight: 800;
			text-transform: uppercase;
			color: $white-color;
		}
	}
}

///////////////////////////////////////
// footer
///////////////////////////////////////

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: $footer-color;
	overflow: hidden;
	a {
		color: $black-color;
		text-decoration: none;
	}
	&__box {
		margin-top: 3rem;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;
	}
	&__logo {
		display: flex;
		font-size: 2.5em;
		color: $text-background-color;
		i {
			margin-right: 1rem;
		}
	}

	&__text-box {
		display: flex;
		justify-content: space-around;
		width: 50%;
	}

	&__date {
		display: flex;
		justify-content: center;
		margin-top: 1em;
		width: 100%;
		border-top: 1px solid black;
		p {
			margin-top: 1em;
		}
	}
	&__item {
		&-title {
			margin-bottom: 2rem;
			font-weight: 800;
			font-size: 2rem;
		}
	}

	&__links {
		p {
			margin-bottom: 1rem;
		}
	}
}
///////////////////////////////////////
// OFFERT
///////////////////////////////////////

.offert {
	
	margin-bottom: 3em;
	margin-top: 80px;

	&__text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-title {
			margin-bottom: 2rem;
			text-transform: uppercase;
			font-weight: 400;
			word-wrap: break-word;
			font-size: 2.5em;
		}
		p {
			padding: 0 1em;
			margin-bottom: 2em;
		}
	}

	&__cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1em;
		box-shadow: 0 0 5px rgb(73, 72, 72);
		border-radius: 10px;
		height: 400px;
		max-height: 400px;
		width: 300px;
		&-button--box {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 4.5em;
			height: 100%;
		}
		&-button {
			margin-top: 2em;
		}
		&-title {
			margin-top: 1.5em;
			margin-bottom: 0.5em;
			font-weight: 800;
			font-size: 2rem;
		}
		&-price {
			font-size: 2.5rem;
			margin-bottom: 0.5em;
			span {
				font-size: 3rem;
			}
		}
		&-list {
			line-height: 1.7em;
		}
		&-button:hover {
			background-color: $button-background-hover;
		}
	}
	&__more {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			font-size: 1.6rem;
			border-radius: 5px;
			padding: 10px 20px;
			text-decoration: none;
			color: black;
			background-color: $button-background;
			box-shadow: 0 2px 5px $box-shadow;
			transition: background-color 0.3s;
		}
		a:hover {
			background-color: $button-background-hover;
		}
	}
}
.standard__button {
	border-radius: 5px;
	border: none;
	background-color: rgb(47, 255, 134);
	box-shadow: 0 2px 5px $box-shadow;
	transition: background-color 0.3s;
	cursor: pointer;
	padding: 10px 50px;
}
.standard__button:hover {
	background-color: $standard-button-hover;
}
.fa-check {
	color: green;
}
.not-available {
	color: gray;
}

///////////////////////////////////////
// Contact Page
///////////////////////////////////////

.contact {
	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			margin: 1em 0;
			text-transform: uppercase;
		}
		p {
			margin: 0 1em;
		}
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 81px;
		padding: 2em 0em;
		height: 100%;

		&-box {
			width: 100%;
			border-radius: 10px;
			box-shadow: 0 0 10px $box-shadow;
			margin: 0 1em;
		}
	}
	&__form {
		&-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			label {
				width: 50%;
				margin: 1em;
			}
			input {
				width: 50%;
			}
		}
		&-textarea {
			max-width: 60%;
			min-width: 50%;
			min-height: 150px;
		}
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2em 0em;
	}
	&__error {
		opacity: 0;
		margin-top: 1em;
		color: rgb(10, 102, 223);
	}
	&__area-style {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.6rem;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		box-shadow: 0 2px 5px $box-shadow;
	}
}

.popup {
	position: absolute;
	top: 50%;
	left: -300%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 40%;
	border-radius: 10px;
	background-color: $white-color;
	box-shadow: 0 0 10px $box-shadow;

	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			margin-bottom: 0.5em;
		}
	}
	&__button {
		margin-top: 2.5em;
	}
}
.active-popup {
	left: 50%;
}
.show-error {
	opacity: 1;
}

.buttons {
	border-radius: 5px;
	border: none;
	background-color: $button-background;
	box-shadow: 0 2px 5px $box-shadow;
	transition: background-color 0.3s;
	cursor: pointer;
	padding: 10px 50px;
}

///////////////////////////////////////
// MEDIA
///////////////////////////////////////

@media (max-width: 767px) {
	.hero__image {
		&-text {
			font-size: 1.5rem;
			&--box {
				overflow: hidden;
			}
		}
	}
	.about-us {
		&__box {
			display: flex;
			flex-direction: column;
		}
		&__image {
			width: 100%;
		}
		&__text {
			height: auto;
			margin-top: 2rem;
			left: 0;
			width: 100%;
			padding: 0;
		}
	}

	.about-us-image2 {
		height: 200px;
	}
	.frame {
		width: 80%;
		height: 40%;

		&__text {
			p {
				font-size: 1.4rem;
			}
		}
	}
	.footer {
		height: 100%;

		&__logo {
			padding-top: 1em;
			padding-bottom: 1em;

			i {
				margin-right: 1rem;
			}
		}
		&__box {
			flex-direction: column;
		}
		&__text-box {
			flex-wrap: wrap;
			padding: 1em;
			width: 100%;
		}
		&__item {
			width: 100%;
		}
	}

	.offert {
		&__text {
			&-title {
				font-size: 2.3em;
			}
		}
		&__cards {
			display: flex;

			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__card {
			width: 250px;
		}
		&__more {
			a {
				font-size: 1.2rem;
			}
		}
	}
	.popup {
		&__title {
			font-size: 1rem;
			p {
				width: 80%;
			}
		}
	}
	.contact {
		&__form {
			&-box {
				input {
					width: 80%;
				}
			}
			&-textarea {
				max-width: 80%;
				min-width: 80%;
			}
		}
	}
}
////////////////////////////////////////////
@media (min-width: 768px) {
	.hero__image {
		&-text {
			font-size: 2.1rem;
		}
	}
	.offert {
		&__text {
			p {
				font-size: 1.2em;
			}
		}
		&__cards {
			flex-direction: column;
		}
	}
}

////////////////////////////////////////////////
@media (min-width: 996px) {
	.burger-btn {
		opacity: 0;
	}
	.navbar {
		&__list {
			position: static;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 50%;
			height: 80px;
			transform: translateX(0);
			opacity: 1;
			background-color: #fff;
		}
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;
			width: 100%;
			height: auto;
			transition: background-color 0.3s;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
				width: 100%;
				transition: color 0.3s;
				color: $black-color;
			}
		}
		&__item:hover {
			background-color: $text-background-color;
			a {
				color: $text-color;
			}
		}
	}

	.current_position {
		background-color: $text-background-color;
		a {
			color: $text-color;
		}
	}
	.hero__image {
		background-image: url(../img/jungle-1807476_1920_big.jpg);
		&-text {
			font-size: 2rem;
		}
	}

	.about-us-image2 {
		background-image: url(../img/girl-5785590_1920_big.jpg);
	}
	.offert {
		&__cards {
			flex-direction: row;
		}
	}
}
